EXPO_PUBLIC_IDENTITY_URL=https://auth.drshahrooei.ir
EXPO_PUBLIC_CLIENT_ID=HealanClinicMobile
EXPO_PUBLIC_HEALAN_API_URL=https://clinic.drshahrooei.ir/Healan/api/v1
EXPO_PUBLIC_USER_MANAGER_API_URL=https://clinic.drshahrooei.ir/UserManager/api/v1
