/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;
* {
  direction: rtl;
  font-family: 'iransans-regular' !important;
}
@font-face {
  font-family: 'iransans-regular';
  src: url('./assets/fonts/IRANSans.ttf');
  font-style: normal;
  font-display: swap;
}
.ant-menu-item-selected span a {
  color: #2029ff;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid transparent !important;
}

.ant-table-thead th {
  background-color: #e9eaff !important;
}

.ant-table {
  border: #2029ff 1px solid !important;
}

.ant-pagination-item-active a {
  background-color: #2029ff;
}

.ant-table-row-expand-icon-expanded {
  color: red !important;
  border: red 1px solid !important;
}

.ant-table-row-expand-icon-collapsed {
  color: #2029ff !important;
  border: #2029ff 1px solid !important;
}
.custom-grid-table .ant-table-thead tr,
.custom-grid-table .ant-table-tbody tr:not(.ant-table-placeholder) {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.custom-grid-table .ant-table-thead th,
.custom-grid-table .ant-table-tbody td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-grid-table .ant-table-cell {
  width: 100% !important;
}
