.git
.gitignore
**/bin
**/obj
**/node_modules
**/.nx
**/dist
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.log
**/Attachment
Python/.venv
Python/**/__pycache__
Python/data/chroma
Python/.env
**/.pytest_cache
