@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "فراموشی رمز عبور";
    var captchaAvailable = Model?.Image != null && Model.Image.Length > 0;
    string source = captchaAvailable
        ? $"data:image/png;base64,{Convert.ToBase64String(Model.Image)}"
        : null;
}

<div class="hotel-left">
    <div class="pay_form">
       
        <h1 class="text-login">فراموشی رمز عبور</h1>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="ForgotPassword" asp-antiforgery="true" method="post">
             @Html.HiddenFor(x => x.CaptchaKey)
             @Html.HiddenFor(x => x.ReturnUrl)
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
                     @if (captchaAvailable)
                     {
                         <div class="form-group">
                             <div class="input-group-prepend">
                                 <img src="@source" alt="captcha" />
                             </div>
                             <div class="input-custom relative">
                                 <input asp-for="CaptchaCode" class="logo" placeholder="کد کپچا" autocomplete='off'/>
                             </div>
                         </div>
                     }
            <div class="login-button text-left">
                <input type="submit" class="btn btn-success" value="تایید" />
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <div class="clear"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
