@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "ورود موفق";
    var clinicUrl = Configuration["IdentityServer:HealanClinicUrl"];
    if (string.IsNullOrWhiteSpace(clinicUrl))
        clinicUrl = "http://clinic.drshahrooei.ir/";
    clinicUrl = clinicUrl.TrimEnd('/') + "/";
}
<meta http-equiv="refresh" content="0;url=@clinicUrl" />
<script>window.location.replace("@clinicUrl");</script>
<p>در حال انتقال به سامانه کلینیک...</p>
<p><a href="@clinicUrl">اگر منتقل نشدید اینجا کلیک کنید</a></p>
