
.icon-wallet-info:before { content: '\268f'; } /* '⚏' */
.icon-managers-info:before { content: '\e708'; } /* '' */
.icon-refund:before { content: '\e720'; } /* '' */
.icon-chat:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-location-fill:before { content: '\e806'; } /* '' */
.icon-ok-circle:before { content: '\e807'; } /* '' */
.icon-cancel-circle:before { content: '\e808'; } /* '' */
.icon-delete:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-exit:before { content: '\e80b'; } /* '' */
.icon-excel:before { content: '\e80c'; } /* '' */
.icon-printer:before { content: '\e80d'; } /* '' */
.icon-pdf:before { content: '\e80e'; } /* '' */
.icon-locatoin-outline:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-upload:before { content: '\e812'; } /* '' */
.icon-profile:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-reload:before { content: '\e815'; } /* '' */
.icon-view-details:before { content: '\e816'; } /* '' */
.icon-checkboxfill:before { content: '\e817'; } /* '' */
.icon-warning:before { content: '\e818'; } /* '' */
.icon-visibility:before { content: '\e819'; } /* '' */
.icon-add:before { content: '\e81a'; } /* '' */
.icon-close:before { content: '\e81b'; } /* '' */
.icon-filter:before { content: '\e81c'; } /* '' */
.icon-less:before { content: '\e81d'; } /* '' */
.icon-cartabl:before { content: '\e81e'; } /* '' */
.icon-Accepted:before { content: '\e81f'; } /* '' */
.icon-listing-1:before { content: '\e820'; } /* '' */
.icon-details:before { content: '\e821'; } /* '' */
.icon-listing-2:before { content: '\e822'; } /* '' */
.icon-search-estelaam:before { content: '\e823'; } /* '' */
.icon-Ghateeyat:before { content: '\e824'; } /* '' */
.icon-enseraf:before { content: '\e825'; } /* '' */
.icon-time:before { content: '\e826'; } /* '' */
.icon-cancel:before { content: '\e827'; } /* '' */
.icon-checklist:before { content: '\e828'; } /* '' */
.icon-ok:before { content: '\e829'; } /* '' */
.icon-cancel-fill:before { content: '\e82a'; } /* '' */
.icon-cancel-outline:before { content: '\e82b'; } /* '' */
.icon-progress-4:before { content: '\e82c'; } /* '' */
.icon-Guid:before { content: '\e82d'; } /* '' */
.icon-attach:before { content: '\e82e'; } /* '' */
.icon-Icon-send:before { content: '\e82f'; } /* '' */
.icon-Icon-signature-solid:before { content: '\e830'; } /* '' */
.icon-File-signaturee:before { content: '\e831'; } /* '' */
.icon-Ico:before { content: '\e832'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
