@font-face {
  font-family: 'regionshallsicon';
  src: url('../fonts/regionshallsicon.eot?12764620');
  src: url('../fonts/regionshallsicon.eot?12764620#iefix')
      format('embedded-opentype'),
    url('../fonts/regionshallsicon.woff2?12764620') format('woff2'),
    url('../fonts/regionshallsicon.woff?12764620') format('woff'),
    url('../fonts/regionshallsicon.ttf?12764620') format('truetype'),
    url('../fonts/regionshallsicon.svg?12764620#regionshallsicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'regionshallsicon';
    src: url('../font/regionshallsicon.svg?12764620#regionshallsicon') format('svg');
  }
}
*/
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'regionshallsicon';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before {
  content: '\e800';
} /* '' */
.icon-left-open:before {
  content: '\e801';
} /* '' */
.icon-right-open:before {
  content: '\e802';
} /* '' */
.icon-up-open:before {
  content: '\e803';
} /* '' */
.icon-location-fill:before {
  content: '\e804';
} /* '' */
.icon-ok-circle:before {
  content: '\e805';
} /* '' */
.icon-cancel-circle:before {
  content: '\e806';
} /* '' */
.icon-delete:before {
  content: '\e807';
} /* '' */
.icon-edit:before {
  content: '\e808';
} /* '' */
.icon-exit:before {
  content: '\e809';
} /* '' */
.icon-excel:before {
  content: '\e80a';
} /* '' */
.icon-printer:before {
  content: '\e80b';
} /* '' */
.icon-pdf:before {
  content: '\e80c';
} /* '' */
.icon-locatoin-outline:before {
  content: '\e80d';
} /* '' */
.icon-calendar:before {
  content: '\e80e';
} /* '' */
.icon-search:before {
  content: '\e80f';
} /* '' */
.icon-upload:before {
  content: '\e810';
} /* '' */
.icon-profile:before {
  content: '\e811';
} /* '' */
.icon-download:before {
  content: '\e812';
} /* '' */
.icon-reload:before {
  content: '\e813';
} /* '' */
.icon-view-details:before {
  content: '\e814';
} /* '' */
.icon-checkboxfill:before {
  content: '\e815';
} /* '' */
.icon-warning:before {
  content: '\e816';
} /* '' */
.icon-visibility:before {
  content: '\e817';
} /* '' */
.icon-add:before {
  content: '\e818';
} /* '' */
.icon-close:before {
  content: '\e819';
} /* '' */
.icon-filter:before {
  content: '\e81a';
} /* '' */
.icon-less:before {
  content: '\e81b';
} /* '' */
.icon-cartabl:before {
  content: '\e81c';
} /* '' */
.icon-done:before {
  content: '\e81d';
} /* '' */
.icon-details:before {
  content: '\e81e';
} /* '' */
.icon-time:before {
  content: '\e81f';
} /* '' */
.icon-world-map:before {
  content: '\e820';
} /* '' */
.icon-checklist:before {
  content: '\e821';
} /* '' */
.icon-doc-text:before {
  content: '\f0f6';
} /* '' */
