HEALAN_API_INTERNAL_URL=http://healan-webapi:8080/Healan/api/v1/
NEXT_PUBLIC_SITE_URL=https://www.drshahrooei.ir
NEXT_PUBLIC_HEALAN_API_URL=/Healan/api/v1/
NEXT_PUBLIC_ANDROID_APK_URL=/downloads/healan-patient.apk
NEXT_PUBLIC_IOS_PWA_URL=/mobile/
